/* Background image */
.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}
.intro-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.mask::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
}

.hero {
  width: 100%;
  height: 100%;
}

/* Content */
.hero .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

/* Header Button */
.hero .content h1 {
  font-size: 4em;
  padding: 0.6rem 0 1.5rem;
}

/* Paragraph Button */
.hero .content p {
  font-size: 1.4em;
  font-weight: 200;
  text-transform: uppercase;
}

/* Space between buttons */
.content .btn {
  margin: 1rem 0.2rem;
}

/* Mobile 640px */
@media screen and (max-width: 640px) {
  /* Header Button */
  .hero .content h1 {
    font-size: 3em;
  }

  /* Paragraph Button */
  .hero .content p {
    font-size: 1.4em;
  }
}
