.hero-img {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 60vh;
  position: relative;
}

/* Hero-img background */
/* TODO: Make background url reuseability, instead hardcoded. */
.hero-img::before {
  content: '';
  background: url('https://meshivat-nafesh.web.app/about/building.jpg');
  background-size: cover;
  background-position: center top;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Header and Text */
.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header style */
.hero-img h1 {
  font-size: 2.4rem;
}

/* Text style */
.hero-img p {
  font-size: 1.4;
  text-align: center;
}

/* Responsive .heading section */
@media screen and (max-width: 640px) {
  /* Res Header style */
  .hero-img h1 {
    font-size: 2rem;
  }
}
